body{
    text-align: center;
    margin: auto;
    background-color: rgb(232, 237, 98);
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 40px;
    color: rgb(107, 179, 223);
}
table{
    margin: auto auto;
    background-color: rgb(107, 179, 223);;
}
tbody{
    border: 1px solid black;
}

td{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(232, 237, 98);;
}

td:hover{
    cursor: pointer;
}
.flag{
    
}